{% load static %}
<link rel="stylesheet" href="{% static 'main/mainstyle.css' %}">
{% for message in messages %}
<div class="alertdismiss">
    <div class="alert {{message.tags}}" role="alert">
        <span aria-hidden="True">&times;</span>
        {{message}}
    </div>
</div>
{% endfor %}
<script>

setTimeout(function(){
    var alerts = document.getElementsByClassName('alert');
    for(var i = 0; i < alerts.length; i++){
        alerts[i].classList.add('fadeOut');
    }
}, 5000); // 5000 milliseconds = 5 seconds
</script>


